.banner .pointer {
    width: 15px;
    height: 15px;
    border: 1px solid var(--slider-color-emphasis);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: var(--slider-color-emphasis);
}
.banner .pointer:hover {
    transform: scale(1.5);
}