header {
    height: 100px;
    background-color: var(--head-bg);
    color: var(--head-color);
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

@media (max-width:1140px) {
    header {
       padding: 0 10px;
       height: 80px;
    }
    .header {
        height: 80px;
    }
}