.logo {
    width: 80px;
}
.logo__img {
    background: url('/assets/images/logo.png');
    background-size: contain;
    width: 40px;
    height: 40px; 
    border: 1px solid var(--logo-border-emphasis);
    border-radius: 10px;
}

 @media (max-width:680px) {
    .logo__img {
        width: 40px;
        height: 40px; 
    }
 }