* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: Montserrat, Arial, Helvetica, sans-serif;
   font-size: 13px;
   overflow-x: hidden;
}
section.default.bg__team {
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section__team--area {
    background-color: var(--section-team-bg_transparency);
    padding-top: 50px;
    padding-bottom: 50px;

}
.section__team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section__team .sliders {
    width:  1000vw;
    height: 100%;
}
.section__team .slider {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: var(--section-team-slider_bg);
    margin-right: 20px;
}
.section__team .slider__area {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--section-team-slider_name-color);
    padding: 30px;
}

.section__team--area .sliders__pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__team--area .pointer {
    width: 15px;
    height: 15px;
    border: 1px solid var(--slider-color-emphasis);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}
.section__team--area .pointer.active {
    background-color: var(--slider-color-emphasis);
}
.section__team--area .pointer:hover {
    transform: scale(1.5);
}

.section__team--avatar {
    width: 150px;
    height: auto;

}
.section__team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section__team--role {
    font-size: 14px;
    margin-top: 5px;
    color: var(--section-team-slider_role-color)
}
.section__team--social {
    display: flex;
    margin-top: 20px;
}
.section__team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: var(--section-team-slider-social_bg);
    border-radius: 12px;
    margin-right: 14px;
    transition: 0.5s;
}
.section__team--social a:last-child {
    margin-right: 0;
}
.section__team--social a:hover {
    background-color: var(--section-team-slider_social_emphasis);
    transform: scale(1.1);
}