* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: Montserrat, Arial, Helvetica, sans-serif;
   font-size: 13px;
   overflow-x: hidden;
}

section.default.light.premium {
    border-top: 1px solid var(--companies_bd);
    background-color: var(--premium_bg);  
}




