section.default.team {
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

@media (min-width:450px) and (max-width:1150px) {
    section .section__team {
        max-width: 580px;
    }
}