:root {

    --outline_color-emphasis_field:#b28756;
    /*header.css*/
    --head-color: #fff;
    --head-bg: #000;

    /*logo.css*/
    --logo-border-emphasis: #b28756;

    /*menu.css*/
    --menu-color: rgb(230, 230, 230);
    --menu-color-emphasis_hover: #b28756;

    /*slides/slide.css*/
    --team-slide_bg: #fff;
    --transparency_dark:rgba(0,0,0, 0.8);

    /*slides/slide-area.css*/
    --team-slider-color_name:#000;

    /*slide-area.css*/
    --color-area: #fff;

    /*slide-content.css*/
    --content-color_emphasis: #b28756;
    --content-transparency_button:rgba(0,0,0, 0.8);
    --content-emphasis_button: rgba(178,135,86, 0.8);
    --content-emphasis_hover: #b28756;
    --content-bg_hover: #000;
    --slide_bg: #000;
    --team-color_role: #6e7378;
    --team-bg_social: #fff;
    --team-bg_emphasis: #b28756;
    --testimonials-color_role: #6e7378;
    --testimonials-color_quote-text: #6e7378;

    /*pointers/pointer.css*/
    --pointer-color-emphasis:#b28756;

    /*default.css*/
    --default-color_desc: #6e7378;

    /*default-dark.css*/
    --default-bg_dark: #000;
    --title-color_dark: #fff;

    /*default-light.css*/
    --title-color_light: #393c41;
    --default-bg_light: #f7f7f7;

    /*projects-photo_info.css*/
    --photo-info-transparency:rgba(0,0,0, 0.6);
    --photo-info-color: #f7f7f7;
    /*projects-filters.css*/
    --projects-filter-border:#6e7378;
    --projects-filter-bg:#000000;
    --projects-filter-color:#fff;
    --projects-filter-emphasis: #b28756;

    /*home/button.css*/
    --button-empashis: #b28756;

    /*service.css*/
    --service-color-desc: #6e7378;

    /*team-area.css*/
    --team-bg_transparency: rgba(0,0,0, 0.8);

    --testimonials_bg: #f7f7f7;
    --testimonials-bg_transparency: rgba(0,0,0, 0.8);
    --testimonials_name-color: #000; 

   /*companies.css*/
    --companies_bg: #fff;
    --companies_bd: #ccc;

    /*plans.css*/
    --price-item_bg:#fff;
    --price-item-color_name:#393c41;
    --price-item-color_money:#000;
    --price-item-color_period:#ccc;
    --price-item-color_others:#6e7378;
    --price-item-bg_button:#6e7378;
    --price-item-emphasis_button:#b28756;

    /*plans.css*/
    --button-bg_light:#f7f7f7;
   
   /*premium.css*/
   --premium_bg: #fff;
   --premium-item-color_content:#6e7378;
   --premium-item-emphasis_content:#000;
   
   /*some-fact.css*/
   --some-fact-emphasis:#b28756;
   --some-fact-color_p: #6e7378;
    
    /*socials.css*/
   --socials-color_border:#ccc;
   --socials-color_p:#ccc;
    

   --form-bg_input: #f7f7f7;
   --form-color_input: #000;
   --form-emphasis_field:#b28756;
   --form-color_label:#c3c3c3;
    
    

    

    

    

}