/*pointer do banner */
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 1px solid var(--pointer-color-emphasis);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: var(--pointer-color-emphasis);
}
.banner .pointer:hover {
    transform: scale(1.5);
}


/*pointer do team */
.section__team--area .pointer {
    width: 15px;
    height: 15px;
    border: 1px solid var(--pointer-color-emphasis);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}
.section__team--area .pointer.active {
    background-color: var(--pointer-color-emphasis);
}
.section__team--area .pointer:hover {
    transform: scale(1.5);
}


/*pointer do testimonials */
section.testimonials .pointer {
    width: 15px;
    height: 15px;
    border: 1px solid var(--pointer-color-emphasis);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}
section.testimonials .pointer.active {
    background-color: var(--pointer-color-emphasis);
}
section.testimonials .pointer:hover {
    transform: scale(1.5);
}