
/*pointers do banner */
.banner .slides__pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides__pointers .pointer__banner:checked {
    -webkit-appearance:none;
    background-color: var(--pointer-color-emphasis);
}
.slides__pointers input.pointers__default:nth-child(1),
.slides__pointers input.pointers__default:nth-child(2) {
    margin-right: 15px;
}

@media (max-width: 790px) and (orientation: landscape) {
    .banner .slides__pointers {
        bottom: 20px;
    }
 }

/*pointers do team */
.section__team--area .slides__pointers {
    margin-top: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides__pointers .pointer__team:checked {
    -webkit-appearance:none;
    background-color: var(--pointer-color-emphasis);
}
input.pointer__team.pointers__default:nth-child(1),
input.pointer__team.pointers__default:nth-child(2) {
        margin-right: 15px;
    }

/*pointers do testimonials */
section.testimonials .slides__pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides__pointers .pointer__testimonials:checked {
    -webkit-appearance:none;
    background-color: var(--pointer-color-emphasis);
}

/*pointers do premium */
section.premium .slides__pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides__pointers .pointer__premium:checked {
    -webkit-appearance:none;
    background-color: var(--pointer-color-emphasis);
}



    
