.section__team--area .pointer__team {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-appearance:none;
    border: 1px solid var(--pointer-color-emphasis);
}
.section__team--area .pointer__team .active {
    background-color: var(--pointer-color-emphasis);
}
.section__team--area .pointer__team:hover {
    transform: scale(1.5);
    border: 1px solid var(--pointer-color-emphasis);
}