.projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects--photo {
    width: 280px;
}
.projects--photo-area:hover
.projects--photo-info {
    display: flex;
}

@media (max-width:580px) {
    .projects--photo {
        width: 300px; 
    }
}
