.section__projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section__projects--photo {
    width: 280px;
}
.section__projects--photo-area:hover
.section__projects--photo-info {
    display: flex;
}