.projects--filters {
    border: 1px solid var(--projects-filter-border);
    background-color: var(--projects-filter-bg);
    display: inline-block;
    border-radius: 30px;
    padding: 0px 20px;
}
.projects--filters ul,
.projects--filters li {
    list-style: none;
}

.projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid var(--projects-filter-border);
    border-bottom: 2px solid var(--projects-filter-bg);
    color: var(--projects-filter-color);
    cursor:pointer;
    transition: 0.3s;
}
.projects--filters li:hover,
.projects--filters li.active {
    border-bottom: 2px solid var(--projects-filter-emphasis);
    color: var(--projects-filter-emphasis);
}
.projects--filters li:first-child {
    border-left: none;
}

@media (max-width:580px) {
    .projects--filters {
        margin:  0 6px;
        max-width:96%;
        border-radius: 5px;
        border: 1px solid transparent;
    }
    .projects--filters li {
        border-left: 1px solid transparent;
    }
}