.projects--photo-area {
    margin: auto;
    width: 260px;
    height: 160px;
    margin-bottom: 20px;
}
.projects--photo-area img {
    width: 100%;
    height: inherit;
    display: inline-flex;
}


@media (max-width:580px) {
    .projects--photo-area {
        width: 300px; 
    }
}