.section__some--facts {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .section__some--facts {
        flex-wrap: wrap;  
    }
    
}