.section__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.price--item-issues,
.price--item-bugs,
.price--item-notifications,
.price--item-time,
.price--item-custom {
    font-size: 13px;
    font-weight: 500;
    color: var(--price-item-color_others);
}

@media (min-width:450px) and (max-width:1150px) {
    .section__price {
        flex-wrap: wrap;
    }
    section .price--item {
        min-width: 47%;
    }
    section .price--item:first-child,
    section .price--item:nth-child(2) {
        margin-bottom: 30px;
    }
    section .section__price {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .section__price {
        flex-wrap: wrap;
    }
    section .price--item {
        min-width: 90%;
    }
    section .price--item:first-child,
    section .price--item:nth-child(2) {
        margin-bottom: 30px;
    }
    section .section__price {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}