/*manipula a area do slide no banner*/
.banner .slide__area {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-area);
}

@media (max-width:750px) {
    .banner .slide__area {
        padding-bottom: 30px ;
    }
 }


/*manipula a area do slide no team*/
.section__team .slide__area {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--team-slide-color_name);
    padding: 30px;
}

/*manipula a area do slide no testimonials*/
.section__testimonials .slide__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    max-width: 1140px;
    height: 100%;
}