.banner {
    background-color:var(--main-bg);
    height: calc(100vh - 100px);
    background: url('/assets/images/bg2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

@media (max-width:1140px) {
    .banner {
        height:calc(100vh - 80px);
    }
}

@media (orientation: landscape) {
    .banner {
        height:calc(100vh - 60px);
    }
 }

