.button {
    display: inline-block;
    background-color: var(--button-empashis);
    color: var(--button-bg_light);
    border: 1px solid var(--button-empashis);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 40px;
    transition: 0.3s;
}

.button:hover {
   transform: scale(1.1);
}