.section__price {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.section__price--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
    background-color: var(--price-item_bg);
    text-align: center;
    padding: 30px;
}
.section__price--item-name {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--price-item-color_name);
}
.section__price--item-money {
    font-size: 25px;
    font-weight: 600;
    color: var(--price-item-color_money);
}
.section__price--item-period {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--price-item-color_period);
}
.section__price--item-issues,
.section__price--item-bugs,
.section__price--item-notifications,
.section__price--item-time,
.section__price--item-custom {
    font-size: 13px;
    font-weight: 500;
    color: var(--price-item-color_others);
}
.section__price--item .button__dark {
    display: inline-block;
    background-color: var(--price-item-bg_button);
    color: var(--button-bg_light);
    border: 1px solid var(--button-empashis);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 30px;
    transition: 0.3s;
}
.section__price--item .button {
    font-size: 12px;
    background-color: var(--price-item-emphasis_button);
} 
 .section__price--item .button__dark:hover {
    background-color: var(--price-item-emphasis_button);
    transform: scale(1.1);
 }