.about-us_left {
    flex: 1;
}
.about-us_left p {
    font-size: 14px;
    line-height: 20px;
}

@media (max-width:450px) {
   
    section .about-us_right {
       
       text-justify:distribute;  
    }
    
}